// @mixin divs($height, $width, $border) {
//
//   div {
//     height: $height;
//     width: $width;
//     border: $border;
//   }
//
// }

@mixin img($height, $border){

  img {
    height: $height;
    border: $border;
  }
}

@mixin boom($font-size, $color){
  .boom{
    font-size: $font-size;
    color: $color;
  }
}
